@layer components {
  #neverstale-container {
    --ns-flags-background-color: #fff;
    --ns-flags-padding: 1rem;
    --ns-flags-border: 1px solid #e5e7eb;
    --ns-flags-border-radius: 5px;
    --ns-flags-box-shadow: 0 0 0 1px #cdd8e4, 0 2px 12px rgba(205, 216, 228, .5);
    --ns-flags-text-color: #000;
    --ns-flags-primary-button-color: #dc2626;
    --ns-flags-primary-button-text: #ffffff;
    --ns-flags-secondary-button-color: rgba(96, 125, 159, .25);
    --ns-flags-secondary-button-text: rgba(63, 77, 90, 1);
    --ns-flags-button-border-radius: 5px;
    --ns-flags-button-padding: 0.5rem 1rem;
    --ns-flags-date-input-background-color: #ffffff;
    --ns-flags-date-input-border-color: #e5e7eb;
    --ns-flags-date-input-border-radius: 5px;
    --ns-flags-date-input-padding: 0.5rem 1rem;
  }
}
