{#
  Neverstale Scan Utility Template

  @author Zaengle
  @package zaengle/craft-neverstale
  @since 1.0.0
  @see https://github.com/zaengle/craft-neverstale
#}

{%- requirePermission('neverstale:scan') %}
{%- import '_includes/forms' as forms %}

<h2>Scan content from Craft with Neverstale</h2>

<p>Normally, content is automatically scanned when published. You should only need to manually content when first installing, or if new entry types have been added to the site.</p>

<form method="POST" id="neverstale-scan" class="utility">
    {{ actionInput('neverstale/scan/batch') }}
    {{ csrfInput() }}

    {% for entryType in entryTypes %}
        {{ forms.checkboxField({
            label: entryType.name|t('site'),
            name: 'entryTypes[]',
            value: entryType.id,
            checked: true,
        }) }}
    {% endfor %}

    <div class="buttons">
        <button type="submit" class="btn submit">Scan selected</button>
    </div>
</form>
