{# @var flagCount int #}
{# @var entry craft\elements\Entry #}
<div class="field">
        <div class="heading">
            <legend>
                {{ 'Neverstale'|t('neverstale') }}
            </legend>
        </div>
    <div class="neverstale-meta-flags">
            <div class="neverstale-meta-flag-indicator">
                <span class="status red"></span>
                <span class="neverstale-flag-count">
                    {{ '{count} flag{s}'|t('neverstale', {
                        count: flagCount,
                        s: flagCount == 1 ? '' : 's'
                    }) }}
            </span>
            </div>
{#            <div class="neverstale-meta-actions">#}
{#                <a href="#neverstale-flags" class="neverstale-meta-link">#}
{#                    {{ 'View Details'|t('neverstale') }} Now#}
{#                </a>#}
{#            </div>#}
        </div>
    </div>

<style>
    .neverstale-meta-flags {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 1;
        width: 100%;
        padding: 5px 5px;
    }

    .neverstale-meta-flag-indicator {
        display: flex;
        align-items: center;
    }

    .neverstale-flag-count {
        color: #dc2626;
        font-weight: 600;
        font-size: 12px;
        margin-left: -5px;
    }

    .neverstale-meta-link {
        font-size: 11px;
        color: #0969da;
        text-decoration: none;
    }

    .neverstale-meta-link:hover {
        text-decoration: underline;
    }
</style>
