@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'components/flags-widget.css';
@import 'tailwindcss/utilities';

.ns-btn {
  @apply ns-appearance-none ns-text-center;
  border-radius: var(--ns-flags-button-border-radius);
  padding: var(--ns-flags-button-padding);
  background-color: var(--ns-flags-secondary-button-color);
  color: var(--ns-flags-secondary-button-text);
}
