{#
  Neverstale Entry Sidebar Widget Template

#}
{% do craft.neverstale.viteService.register(
  'src/web/assets/neverstale/src/main.ts',
  false,
  {
    'depends': [
      'neverstale\\craft\\web\\assets\\neverstale\\NeverstaleAsset',
    ],
  }
) %}

<div class="content-pane ns-mb-4
  ns-ms-[-0.5rem] sm:ns-ms-[-1.5rem]
  ns-me-[-0.5rem] sm:ns-me-[-1.5rem]">
  {%- if content %}
    {% include 'neverstale/_components/flags-widget' with { content: content } only %}
  {%- else %}
    <p>Content not yet sent to Neverstale. </p>
  {%- endif %}
</div>

